[submodule "openshift-ansible"]
	path = openshift-ansible
	url = https://github.com/openshift/openshift-ansible
[submodule "ansible"]
	path = ansible
	url = https://github.com/ansible/ansible
	branch = 96495594cc2e6e854ef7e6e0d4a3df5ea688e793
[submodule "roles/ansible-private-aws"]
	path = roles/ansible-private-aws
	url = https://github.com/rhtps/ansible-private-aws
[submodule "roles/ansible-role-800-53"]
	path = roles/ansible-role-800-53
	url = https://github.com/rhtps/ansible-role-800-53
[submodule "roles/ansible-registry"]
	path = roles/ansible-registry
	url = https://github.com/rhtps/ansible-registry
[submodule "roles/ansible-bind"]
	path = roles/ansible-bind
	url = https://github.com/rhtps/ansible-bind
[submodule "roles/ansible-yum"]
	path = roles/ansible-yum
	url = https://github.com/rhtps/ansible-yum
[submodule "roles/ansible-vnc"]
	path = roles/ansible-vnc
	url = https://github.com/rhtps/ansible-vnc
[submodule "philosophy"]
	path = philosophy
	url = https://github.com/rhtps/philosophy
[submodule "roles/ansible-private-common"]
	path = roles/ansible-private-common
	url = https://github.com/rhtps/ansible-private-common
[submodule "roles/ansible-ldap"]
	path = roles/ansible-ldap
	url = https://github.com/rhtps/ansible-ldap