[OSEv3:children]
masters
nodes
etcd
lb

[OSEv3:vars]
ansible_ssh_user={{ ec2_username }}
ansible_become=yes
containerized=false
debug_level=2
deployment_type=openshift-enterprise
openshift_docker_additional_registries={{ groups.bastions[0] }}:5000
openshift_docker_insecure_registries={{ groups.bastions[0] }}:5000
openshift_docker_blocked_registries=registry.access.redhat.com,docker.io
openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider', 'filename': '/etc/origin/master/htpasswd'}]
osm_default_node_selector='region=primary'
openshift_hosted_router_selector='region=infra'
openshift_registry_selector='region=infra'
openshift_master_console_port=443
openshift_master_cluster_method='native'

[masters]
{% for ip in groups.masters %}
{{ ip }}
{% endfor %}

[etcd]
{% for ip in groups.etcd %}
{{ ip }}
{% endfor %}

[lb]
{% for ip in groups.lb %}
{{ ip }}
{% endfor %}

[nodes]
{% for ip in groups.masters %}
{{ ip }} openshift_node_labels="{'region': 'infra'}" openshift_schedulable=true
{% endfor %}
{% for ip in groups.nodes_sidea %}
{{ ip }} openshift_node_labels="{'region': 'primary', 'zone': 'sidea'}"
{% endfor %}
{% for ip in groups.nodes_sideb %}
{{ ip }} openshift_node_labels="{'region': 'primary', 'zone': 'sideb'}"
{% endfor %}
